
@{
    ViewBag.Title = "Exam";
}

<h2>水果</h2>

@{
    string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
}

<p>姓名:黃哲偉</p>
<p>學號:411004134</p>
<p>最喜歡的水果:</p>
<ol>
    @foreach (string item in fruits)
    {
        <li>@item</li>
    }
</ol>